@import "tailwindcss";
@theme {
  --font-roboto: 'Roboto', 'sans-serif';
  --font-notosansjp: 'Noto Sans JP', "sans-serif";
  --animate-text-focus-in: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
}
@plugin '@tailwindcss/typography';
