---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import EntryLayout from "../../layouts/EntryLayout.astro";

export async function getStaticPaths() {
    const techBlogEntries = await getCollection("tech-blog");
    return techBlogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
    <EntryLayout>
        <Fragment slot="title">
            {entry.data.title}
        </Fragment>
        <Fragment slot="tags">
            {
                entry.data.tags.map((tag: string) => (
                    <span class="inline-block bg-blue-200 rounded-full mx-0.5 mb-1">
                        <span class="text-black px-2">{tag}</span>
                    </span>
                ))
            }
        </Fragment>
        <Fragment slot="date">
            {entry.data.date.toISOString().slice(0, 10)}
        </Fragment>
        <Fragment slot="content">
            <Content />
        </Fragment>
    </EntryLayout>
</BaseLayout>
