---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
    <div class="flex items-center justify-center h-screen">
        <h1 class="text-white text-6xl font-roboto font-bold">404</h1>
    </div>
    <Footer />
</BaseLayout>
