---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-white text-6xl font-roboto font-bold">404</h1>
        <a href="/">
            <p class="text-blue-600 text-xl font-notosansjp mt-4">トップへ</p>
        </a>
    </div>
    <Footer />
</BaseLayout>
