---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import EntryListLayout from "../layouts/EntryListLayout.astro";
import Footer from "../components/Footer.astro";

const diaryEntries = await getCollection("diary");
---

<BaseLayout>
    <EntryListLayout
        title="Diary"
        startColor="from-purple-500"
        endColor="to-pink-500"
    >
        {
            diaryEntries.map((entry) => (
                <div class="border border-white rounded-xl p-3 mt-4">
                    <a href={`/diary/${entry.slug}`}>
                        <p class="text-white text-lg">{entry.data.title}</p>
                        <p class="text-white text-right">
                            {entry.data.date.toISOString().slice(0, 10)}
                        </p>
                    </a>
                </div>
            ))
        }
    </EntryListLayout>
    <Footer />
</BaseLayout>
