---
import "@fontsource/roboto";
import "@fontsource-variable/noto-sans-jp";
import { Image } from "astro:assets";
import mainIcon from "../images/mainIcon.png";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>aphananhe42.net</title>
	</head>
	<body class="w-screen h-screen bg-slate-950">
		<Image
			class="w-1/5 aspect-square mx-auto mt-20 rounded-full"
			src={mainIcon}
			alt="aphananthe42のアイコン"
		/>
		<h1
			class="font-roboto text-white text-5xl 2xl:text-9xl text-center pt-14"
		>
			aphananhe42
		</h1>
	</body>
</html>
