---
import "@fontsource/roboto";
import "@fontsource-variable/noto-sans-jp";
import { Image } from "astro:assets";
import moguraImage from "../images/mogura.png";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>aphananhe42.net</title>
	</head>
	<body>
		<h1 class="font-roboto lg:text-4xl text-center pt-8">
			This site is under development...
		</h1>
		<h1 class="font-notosansjp lg:text-4xl text-center">
			このサイトは現在開発中です...
		</h1>
		<Image
			class="w-1/3 h-1/3 mx-auto"
			src={moguraImage}
			alt="モグラの画像"
		/>
	</body>
</html>
