---
import { Image } from "astro:assets";
import MainIcon from "../images/main_icon.png";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import LinkLogo from "../components/LinkLogo.astro";
import GradientBorderButton from "../components/GradientBorderButton.astro";
import TerminalStyleList from "../components/TerminalStyleList.astro";
import WorkShowcase from "../components/WorkShowcase.astro";
import TechStackLogo from "../components/TechStackLogo.astro";
---

<BaseLayout>
	<Image
		class="w-1/3 xl:w-1/6 aspect-square mx-auto mt-20 rounded-full"
		src={MainIcon}
		alt="aphananthe42のアイコン"
	/>
	<h1
		class="text-white text-3xl lg:text-6xl text-center font-roboto font-bold mt-9 lg:mt-20"
	>
		aphananthe42
	</h1>
	<div class="flex justify-center gap-6 lg:gap-24 mt-6 lg:mt-12">
		<LinkLogo href="https://github.com/aphananthe42" linkType="GitHub" />
		<LinkLogo href="https://x.com/aphananthe42" linkType="X" />
		<LinkLogo href="https://zenn.dev/aphananthe42" linkType="Zenn" />
		<LinkLogo
			href="https://atcoder.jp/users/aphananthe42"
			linkType="AtCoder"
		/>
	</div>
	<div class="flex justify-center gap-6 lg:gap-24 mt-8 lg:mt-16">
		<GradientBorderButton
			routing="/tech-blog/"
			title="Tech Blog"
			startColor="from-[#b224ef]"
			endColor="to-[#7579ff]"
		/>
		<GradientBorderButton
			routing="/diary/"
			title="Diary"
			startColor="from-[#8c1bab]"
			endColor="to-[#f761a1]"
		/>
	</div>
	<SectionLayout title="About Me">
		<TerminalStyleList command="$ whois aphananthe42" listStyle="list-none">
			<li>Name: aphananthe42</li>
			<li>Created: 1994-12-04</li>
			<li>Address: Kanagawa, Japan</li>
			<li>Job: Freelance iOS Engineer</li>
			<li>Favorite Food: miso soup, salad, dried persimmon</li>
		</TerminalStyleList>
		<TerminalStyleList command="$ ls skills/" listStyle="list-disc">
			<li>iOS Experience 5+ years</li>
			<li>AWS Certified Cloud Practitioner</li>
			<li>AWS Certified Developer</li>
			<li>AWS Certified SysOps Administrator</li>
			<li>Certified ScrumMaster(CSM)</li>
			<li>TOEIC 860</li>
		</TerminalStyleList>
		<TerminalStyleList command="$ history" listStyle="list-decimal">
			<li>
				Software house (~2022) <br />
				&emsp;&thinsp;as iOS Engineer
			</li>
			<li>
				Axia Works LLC (~2023) <br />
				&emsp;&thinsp;as iOS Engineer and Executive Officer
			</li>
			<li>Freelance iOS Engineer (current)</li>
		</TerminalStyleList>
	</SectionLayout>
	<SectionLayout title="Works">
		<ul class="list-disc marker:text-white ml-4">
			<li>
				<WorkShowcase
					title="aphananthe42.net"
					href="https://aphananthe42.net"
				>
					<Fragment slot="description">
						That's this. <br />
						aphananthe42.net is my personal website.
					</Fragment>
					<Fragment slot="tech-stacks">
						<TechStackLogo
							href="https://www.cloudflare.com"
							linkType="Cloudflare"
						/>
						<TechStackLogo
							href="https://astro.build"
							linkType="Astro"
						/>
						<TechStackLogo
							href="https://tailwindcss.com"
							linkType="TailwindCSS"
						/>
					</Fragment>
				</WorkShowcase>
			</li>
			<li>
				<WorkShowcase title="AIFrame" href="https://google.com">
					<Fragment slot="description">
						Under development...
					</Fragment>
					<Fragment slot="tech-stacks"> </Fragment>
				</WorkShowcase>
			</li>
		</ul>
	</SectionLayout>
	<SectionLayout title="Contact">
		<div
			class="text-md lg:text-xl text-white font-roboto font-normal italic mt-4"
		>
			<p>
				Feel free to contact me via
				<a href="https://x.com/aphananthe42" class="text-blue-500">
					DM on X
				</a> or
				<a href="mailto:contact@aphananthe42.net" class="text-blue-500">
					email
				</a>.
			</p>
			<p>
				PGP Key is
				<a href="/pgp" class="text-blue-500">here</a>
				.
			</p>
		</div>
	</SectionLayout>
</BaseLayout>
