---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";

const techBlogEntries = await getCollection("tech-blog");
---

<BaseLayout>
    <h1
        class="text-white text-3xl lg:text-6xl text-center font-roboto font-bold mt-9 lg:mt-20"
    >
        Tech Blog
    </h1>
    <div class="h-1 bg-gradient-to-r from-purple-600 to-blue-500 mt-4 lg:mt-8">
    </div>
    <div class="xl:w-2/5 mx-auto font-notosansjp px-6 my-10">
        {
            techBlogEntries.map((entry) => (
                <div class="border border-white rounded-xl p-3 mt-4">
                    <a href={`/tech-blog/${entry.slug}`}>
                        <p class="text-white text-lg">{entry.data.title}</p>
                        <div class="text-right mt-1">
                            {entry.data.tags.map((tag: string) => (
                                <span class="inline-block bg-blue-200 rounded-full mx-0.5 mb-1">
                                    <span class="text-black px-2">{tag}</span>
                                </span>
                            ))}
                        </div>
                        <p class="text-white text-right">{entry.data.date}</p>
                    </a>
                </div>
            ))
        }
    </div>
    <Footer />
</BaseLayout>
