---

---

<hr class="mt-10 lg:mt-20" />
<footer class="p-6 lg:p-16">
    <p
        class="text-white text-sm lg:text-lg text-center font-roboto font-normal"
    >
        © 2024 aphananthe42
    </p>
</footer>
