---

---

<footer class="h-14 mt-10 lg:mt-20 mb-0">
    <hr />
    <p
        class="text-white text-sm lg:text-lg text-center font-roboto font-normal p-6 lg:p-16"
    >
        © 2024 aphananthe42
    </p>
</footer>
