---

---

<div
  class="prose prose-invert text-white
    prose-h1:font-bold prose-h1:text-xl
    prose-a:text-blue-500 prose-p:text-justify prose-img:rounded-xl
    prose-headings:underline break-words mx-auto mt-8"
>
  <slot />
</div>
