---
import { Image } from "astro:assets";
import AstroIcon from "../images/astro.svg";
import TypeScriptIcon from "../images/typescript.svg";
import TailwindCSSIcon from "../images/tailwindcss.svg";
import CloudflareIcon from "../images/cloudflare.svg";
import SwiftIcon from "../images/swift.svg";

type LinkType = "Astro" | "TypeScript" | "TailwindCSS" | "Cloudflare" | "Swift";
interface Props {
    href: string;
    linkType: LinkType;
}

const { href, linkType } = Astro.props;
const icon = (() => {
    switch (linkType) {
        case "Astro":
            return "https://img.shields.io/badge/Astro-white?logo=astro&style=flat-square";
        case "TypeScript":
            return "https://img.shields.io/badge/TypeScript-white?logo=typescript&style=flat-square";
        case "TailwindCSS":
            return "https://img.shields.io/badge/TailwindCSS-white?logo=tailwindcss&style=flat-square";
        case "Cloudflare":
            return "https://img.shields.io/badge/Cloudflare-white?logo=cloudflare&style=flat-square";
        case "Swift":
            return "https://img.shields.io/badge/Swift-white?logo=swift&style=flat-square";
    }
})();
---

<a href={href} target="_blank" class="inline-block">
    <img
        class="h-3 2xl:h-6 object-contain"
        src={icon}
        alt={`${linkType}のアイコン`}
    />
</a>
