---
type LinkType = "Astro" | "TypeScript" | "TailwindCSS" | "Cloudflare" | "Swift" | "XcodeCloud" | "Firebase";
interface Props {
    href: string;
    linkType: LinkType;
}

const { href, linkType } = Astro.props;
const icon = (() => {
    switch (linkType) {
        case "Astro":
            return "https://img.shields.io/badge/Astro-white?logo=astro&style=for-the-budge";
        case "TypeScript":
            return "https://img.shields.io/badge/TypeScript-white?logo=typescript&style=for-the-budge";
        case "TailwindCSS":
            return "https://img.shields.io/badge/TailwindCSS-white?logo=tailwindcss&style=for-the-budge";
        case "Cloudflare":
            return "https://img.shields.io/badge/Cloudflare-white?logo=cloudflare&style=for-the-budge";
        case "Swift":
            return "https://img.shields.io/badge/Swift-white?logo=swift&style=for-the-budge";
        case "XcodeCloud":
            return "https://img.shields.io/badge/Xcode_Cloud-white?logo=xcode&style=for-the-budge";
        case "Firebase":
            return "https://img.shields.io/badge/Firebase-white?logo=firebase&style=for-the-budge";
    }
})();
---

<a href={href} target="_blank" class="inline-block">
    <img
        class="h-5 xl:h-7"
        src={icon}
        alt={`${linkType}のアイコン`}
    />
</a>
