---
import { Image } from "astro:assets";
import AstroIcon from "../images/astro.svg";
import TypeScriptIcon from "../images/typescript.svg";
import TailwindCSSIcon from "../images/tailwindcss.svg";
import CloudflareIcon from "../images/cloudflare.svg";
import SwiftIcon from "../images/swift.svg";
import SwiftUIIcon from "../images/swiftui.svg";

type LinkType = "Astro" | "TypeScript" | "TailwindCSS" | "Cloudflare" | "Swift" | "SwiftUI";
interface Props {
    href: string;
    linkType: LinkType;
}

const { href, linkType } = Astro.props;
const icon = (() => {
    switch (linkType) {
        case "Astro":
            return AstroIcon;
        case "TypeScript":
            return TypeScriptIcon;
        case "TailwindCSS":
            return TailwindCSSIcon;
        case "Cloudflare":
            return CloudflareIcon;
        case "Swift":
            return SwiftIcon;
        case "SwiftUI":
            return SwiftUIIcon;
    }
})();
---

<a href={href} target="_blank" class="inline-block">
    <Image
        class="w-7 2xl:w-14 aspect-square object-contain"
        src={icon}
        alt={`${linkType}のアイコン`}
    />
</a>
