---
const { title, startColor, endColor } = Astro.props;
---

<h1
    class="text-white text-3xl lg:text-6xl text-center font-roboto font-bold mt-9 lg:mt-20"
>
    {title}
</h1>
<div class=`h-1 bg-gradient-to-r ${startColor} ${endColor} mt-4 lg:mt-8`></div>
<div class="xl:w-1/5 mx-auto font-notosansjp px-6 my-10">
    <slot />
</div>
