---
const { title } = Astro.props;
---

<div class="w-3/4 xl:w-2/4 mx-auto mt-10 lg:mt-20">
    <p class="xl:w-2/4 mx-auto text-white text-xl lg:text-3xl font-roboto font-black">{title}</p>
    <slot />
</div>
